<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Edit your meal!</h1>
    <form action="/foodies/<%= foodie._id %>"_method=PUT method="POST">
      <label>
        Add a link of the picture of your tasty meal here:
        <input type="text" name="meal" value="<%= foodie.meal %>" autocomplete="off">
      </label>
      <label>
        Description:
        <input type="text" name="description" value="<%= foodie.description %>" autocomplete="off">
      </label>
      <label>
        Directions:
        <input type="text" name="direction" value="<%= foodie.direction %>" autocomplete="off">
      </label>
      <button type="submit">UPDATE</button>
    </form>

    <%- include('../partials/footer') %>