<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Food!😋</h1>
    <h2>Add your meal!</h2>
    <form action="/foodies" method="POST">
      <label>
        Add a link of the picture of your tasty meal here:
        <input type="text" name="meal" autocomplete="off">
      </label>
      <label>
        What's the Name?:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Description:
        <input type="text" name="description" autocomplete="off">
      </label>
      <button type="submit">POST</button>
    </form>
	<ul>
  <% foodies.forEach(food => { %>
    <img src="<%= food.meal %>" alt=""> 
    <li> <%= food.name %>  <%= food.description %></li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>