<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="all-meals-section">
  <h1>Food!😋</h1>
  
  
    <ul class="meals-list">
      <% foodies.forEach(food => { %>
        <div class="meal-section">
          <a href="/foodies/<%= food._id %>"><img src="<%= food.meal %>" class="food-img" alt="" width="404" height="404" ></a> 
        <li class="food-details"><img src="<%= food.owner.avatar %>" alt="" width="20" height="20">  
          <%= food.description %></li>
        </div>
          <% }) %>
        </ul>
</section>

<%- include('../partials/footer') %>