<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section class="all-meals-section">
  
  
    <ul class="meals-list">
      <% foodies.forEach(food => { %>
        <div class="meal-section">
          <a href="/foodies/<%= food._id %>"><img src="<%= food.meal %>" class="food-img" alt="" width="504" height="auto" ></a> 
        <li class="food-details"><img src="<%= food.owner.avatar %>" alt="" width="40" height="40" class="avatar">  
         <h3><%= food.description %></h3></li>
        </div>
          <% }) %>
        </ul>
</section>

<%- include('../partials/footer') %>