<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Food!😋</h1>
	<ul>
  <% foodies.forEach(food => { %>
    <a href="/foodies/<%= food._id %>"><img src="<%= food.meal %>" alt="" width="500" height="500"></a> 
    <li><img src="<%= user.profile.avatar %>" alt="" width="10" height="10">  
       <%= food.description %></li>
  <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>