<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Something is smelling GOOD!!</h1>
  <img src="<%= foodie.meal %>" alt="">
  <h5><%= foodie.description %></h5>
  <ul>
    <li>
      Directions: <%= foodie.direction%>
    </li>
  </ul>
  <% if (foodie.owner.equals(user?.profile._id)) { %>
    <form action="/foodies/<%= foodie._id %>/edit" method="GET">
      <button class="btn" type="submit">Edit your meal 🚧</button>
    </form>
  <% } %>
</section>
<% if (foodie.owner.equals(user?.profile._id)) { %>
<form action="/foodies/<%= foodie._id %>?_method=DELETE" method="POST">
  <button class="btn" type="submit">Delete this Meal</button>
</form>
<% } %>
<%- include('../partials/footer') %>